@import url(./body.css);


#loghmeh-logo {
    max-width: 35px;
}

.navbar {
    height: 4%;
    background-color: white;
}

.exit-btn {
    color: var(--pastel-red);
}


#navbar-cart-badge {
    position: relative;
    left: -10px;
    top: -15px;
}

nav .btn:active {
    border-color: var(--med-torq);
}
