@import url(./body.css);


#loghmeh-logo {
    max-width: 35px;
    max-height: 35px;
}

@media (min-width : 1026px){
    .navbar {
        height: 3em;
        background-color: white;
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media (max-width : 1025px){
    .navbar {
        height: 2.5em;
        background-color: white;
        padding-left: 0px;
        padding-right: 0px;
    }
}


.exit-btn {
    color: var(--pastel-red);
}


#navbar-cart-badge {
    position: relative;
    left: -10px;
    top: -15px;
}

nav .btn:active {
    border-color: var(--med-torq);
}
