@import url(./normalize.css);
@import url(../fonts/vazir-fonts/fonts.css);

* {
    font-family: Vazir;
}

:root {
    --eng-green : #1A535C;
    --med-torq : #4ECDC4;
    --mint-cream : #F7FFF7;
    --pastel-red : #FF6B6B;
    --maize : #FFE66D;
    --pastel-red-opc : rgba(255,107,107,0.7);
    --maize-opc : rgba(255,230,109,0.9);
}

.eng-green {
    background-color: var(--eng-green);
}

.med-torq {
    background-color: var(--med-torq);
}

.mint-cream {
    background-color: var(--mint-cream);
}

.pastel-red {
    background-color: var(--pastel-red);
}

.maize {
    background-color: var(--maize);
}


body {
    padding-top: 40px;
    background-color: var(--mint-cream);
    overflow-x: hidden;
}

.modal-body{
    padding-top: 12em;
}

.modal-backdrop {
    width: 100%;
    height: 100%;
}

.form-control:focus {
    border-color: var(--maize);
    box-shadow: inset 0 1px 1px var(--maize-opc), 0 0 8px var(--eng-green);
}
@media (min-width : 1026px){
    .component-title {
        box-shadow: inset 0px -2px 0px var(--eng-green);
        font-size: 1.8em;
        padding: 5px;
        display: table;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0.7em;
        color: var(--eng-green);
    }

    .modal-body{
        padding-top: 12em;
    }
    
}

@media (max-width : 1025px){
    .component-title {
        box-shadow: inset 0px -2px 0px var(--eng-green);
        font-size: 1.4em;
        padding: 5px;
        display: table;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0.5em;
        color: var(--eng-green);
    }

    .modal-body{
        padding-top: 11em;
    }
    
}
